body {
  background-color: beige;
  background-image: url(../../holiday-turkey-dinner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}



header {
  background-color: rgb(238, 189, 129);
  background-repeat: no-repeat;
  background-size: cover;
  height: 110px;
  width: 1024;
  text-align: center;
}

nav {
  background-color: rgba(0, 0, 0, 0.281);
  width: 1024;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
}


main {
  height: 750px;
  width: 1024;
  text-align: center;
  padding-left: 210px;
  padding-right: 210px;
}


footer {
  background-color: bisque;
  height: 100px;
  width: 1024;
}
h1 {
  font-size: 84;
  color: rgb(186, 193, 179);
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 40px;
  color: rgb(243, 11, 11);
}

nav a {
    color: rgb(13, 237, 69);
  text-decoration: none;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

h3 {
  font-size: 35px;
  text-align: center;
  color: rgb(7, 241, 97);
}

a {
  font-size: 20px;
  color: rgb(6, 245, 70);
}
section {
  text-align: center;
  color: rgb(164, 206, 65);
}

